.tab {
    padding-left: 10px;
    border: 1px solid white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tab:hover, .activeTab
{
    background-color: #7c77c9;
}
.tab:hover a, .activeTab a
{
    color: white;
    font-weight: 600;
}
