<div class="blog-details">
  <h1>Sports Facilities</h1>
  <div class="space-20"></div>
  <p>Hall -3 has always had a great culture of sports. With 2 Volleyball Courts, 2 Badminton Courts, a Cricket Pitch, a Basketball Court and a Football Ground, students have an ample opportunity to play outdoor sports. Residents should always feel free to issue equipment for indoor sports like Table Tennis, Carrom and Chess which is available with the Sports’ Secretary.</p>
  <div class="space-10"></div>
  <h4>Sports Inventory</h4>
  <div class="space-5"></div>
  <p>This is the inventory of our sports equipments. You can check the current availability of each equipment and issue them accordingly. To issue an item, contact the Sports Secretary, HEC.</p>
  <div class="space-5"></div>
  <div *ngIf="!loaded" style="vertical-align:middle; text-align:center">
    <img src="../../../../images/loading.gif" style="width: 50%">
  </div>
  <div class="row" [class.invisible]="!loaded" style="display: flex;" *ngFor="let item of inventory">
    <div class="inventory" style="flex-grow: 1;">
      <div class="inside"><strong>{{ item.name }}</strong>
        <div class="space-2"></div>
      </div>
    </div>
    <div class="inventory available"
         [class.red]="item.available <= 0"
         [class.yellow]="item.available > 0 && item.available < item.total"
         [class.green]="item.available >= item.total"
         style="text-align: left;">
      <div class="inside" style="display: flex;" >
        <div style="flex-grow: 1;"></div>
        <label  class="control control--checkbox">
          {{ item.available + ' / ' + item.total }}&nbsp;&nbsp;Available
        </label>
        <div style="flex-grow: 1;"></div>
      </div>
    </div>
  </div>
  <div class="space-10"></div>
  <h4>Pictures</h4>
  <div class="sm-padding">
    <div id="facilityImages" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div *ngFor="let image of images; let i = index"
             class="item"
             [class.active]="i === 0">
          <img [src]="'images/facilities/' + image" [alt]="image">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#facilityImages" data-slide="prev">
        <span class="ti-control-backward" style="position: absolute; top: 48%;left: 18%;font-size: 30px"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#facilityImages" data-slide="next">
        <span class="ti-control-forward" style="position: absolute; top: 48%;right: 18%;font-size: 30px"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
