.sm-padding {
    padding: 20px;
}

@media (max-width: 768px) {
    .md-padding{
        padding: 0;
    }
}

.inventory {
    text-align: center;
    border: 3px solid #7b7b7b;
    margin: 8px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.inventory > .inside {
    padding: 10px;
}

.red {
    border: 3px solid red;
    color: red;
}

.green {
    border: 3px solid green;
    color: green;
}

.yellow {
    border: 3px solid orange;
    color: orange;
}

.available {
    width: 28%;
}

@media (max-width: 768px) {
    .available {
        width: 40%;
    }
}
