.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-xs-6.col-sm-3 {
    padding: 15px;
}

.inventory {
    text-align: center;
    border: 3px solid #5E0F14; /* color1 */
    margin: 8px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

.inventory > .inside {
    padding: 10px;
}

.red {
    background-color: tomato;
}

.green {
    background-color: yellowgreen;
}

.yellow {
    border: 3px solid orange;
    color: orange;
}

.available {
    width: 28%;
}

@media (max-width: 768px) {
    .available {
        width: 40%;
    }
}

input {
    background-color: #fddfa3;
    padding: 0px 2px;
    border: none;
    outline: 1px solid #5e0f14;
    outline-offset: 0px;
}

input:hover:not([disabled]), input:focus:not([disabled]) {
    box-shadow: 0 0 5px 0 #5e0f14;
}

.prev {
    position: absolute;
    width: 21px;
    height: 21px;
    top: calc(50% - 10px);
    left: -8px;
    background-color: #c72228;
    color: #fccf75;
    box-shadow: 0 0 10px 0px #5e0f14;
    border-radius: 50%;
    z-index: 10;
}

.prev:hover:not(.disabled) {
    box-shadow: 0 0 10px 2px #5e0f14;
    cursor: pointer;
}

.ti-angle-double-left:before {
    position: absolute;
    top: 4px;
    left: 3px;
}

.next {
    position: absolute;
    width: 21px;
    height: 21px;
    top: calc(50% - 10px);
    right: -8px;
    background-color: #c72228;
    color: #fccf75;
    box-shadow: 0 0 10px 0px #5e0f14;
    border-radius: 50%;
    z-index: 10;
}

.next:hover:not(.disabled) {
    box-shadow: 0 0 10px 2px #5e0f14;
    cursor: pointer;
}

.ti-angle-double-right:before {
    position: absolute;
    top: 4px;
    right: 3px;
}

.del {
    position: absolute;
    width: 26px;
    height: 26px;
    left: calc(50% - 13px);
    bottom: -16px;
    background-color: #c72228;
    color: #fccf75;
    box-shadow: 0 0 10px 0px #5e0f14;
    border-radius: 50%;
    z-index: 10;
}

.del:hover:not(.disabled) {
    box-shadow: 0 0 10px 2px #5e0f14;
    cursor: pointer;
}

.del.sureDel {
    width: 98px;
    border-radius: 10px;
    left: calc(50% - 49px);
}

.sureDel:before {
    content: 'Sure Delete?';
    font-size: 14px;
    position: absolute;
    left: 8px;
}

.ti-trash:before {
    position: absolute;
    top: 4px;
    left: 3px;
    font-size: 18px;
}

.add {
    position: absolute;
    width: 52px;
    height: 52px;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    top: calc(50% - 26px);
    left: calc(50% - 26px);
    background-color: #c72228;
    color: #fccf75;
    box-shadow: 0 0 10px 0px #5e0f14;
    border-radius: 50%;
    z-index: 10;
}

.add:hover:not(.disabled) {
    box-shadow: 0 0 10px 2px #5e0f14;
    cursor: pointer;
}
