<section class="relative fix" id="about">
  <div class="space-30"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 about">
        <div class="space-50"></div>
        <h2>About Us</h2>
        <div class="space-30"></div>
        <p><b>The Hall of Residence 3</b> is one of the oldest boys’ hostels of IIT Kanpur. The hostel comprises of 7 blocks, each of which is a three-storey building with 10-14 adjacent rooms on each floor in which 1st, 2nd and 3rd year U. G. students reside.</p>
        <p>The unique culture of the hall ensures that a student not only flourishes in his studies but also develops great command in other spheres of life. The healthy interaction among juniors and seniors during times of co-curricular activities develops a great sense of bonding and trust among all.</p>
        <p>Although the Hall-3 Mess and Canteen have always been greatly praised but you can always find different snacks in the evening right outside the hall gate!</p>
        <p>We welcome you to <b>The Hall of Residence 3</b>, a place where the journey of success begins…</p>
        <div class="space-40"></div>
        <a href="/server/files/faqs.pdf" target="_blank" class="bttn">FAQs</a>
      </div>
      <div class="hidden-xs col-sm-6 right-box-image wow fadeInRight" data-wow-delay="0.4s">
        <div class="vcenter text-left soft-edge" style="border-top: 1px solid white;">
          <img src="images/about.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="space-100"></div>
</section>
