<div>
  <div id="notice" class="owl-carousel container" style="position: absolute;bottom: 13%;width: 100%;z-index: 5;">
    <div class="panel single-blog" style="margin-left: 5px;margin-right: 5px;">
      <div class="padding-20">
        <ul class="list-unstyled list-inline">
          <li><span class="ti-user"></span> By: Admin</li>
          <li><span class="ti-calendar"></span> Feb 01, 2017</li>
        </ul>
        <div class="space-10"></div>
        <a href="blog-details-left-sidebar.html"><h3>Beautiful Place for your Great Journey</h3></a>
        <p style="height: 1.5em; overflow: hidden;">Lorem dolor sit amet, consectetur floralm adipisicing elit, sed do eiusmod tem aincididunt elauta labore eta dolore magna aliqualy eminem faenimve...</p>
      </div>
    </div>
    <div class="panel single-blog" style="margin-left: 5px;margin-right: 5px;">
      <div class="padding-20">
        <ul class="list-unstyled list-inline">
          <li><span class="ti-user"></span> By: Admin</li>
          <li><span class="ti-calendar"></span> Feb 01, 2017</li>
        </ul>
        <div class="space-10"></div>
        <a href="blog-details-left-sidebar.html"><h3>Beautiful Place for your Great Journey</h3></a>
        <p style="height: 1.5em; overflow: hidden;">Lorem dolor sit amet, consectetur floralm adipisicing elit, sed do eiusmod tem aincididunt elauta labore eta dolore magna aliqualy eminem faenimve...</p>
      </div>
    </div>
    <div class="panel single-blog" style="margin-left: 5px;margin-right: 5px;">
      <div class="padding-20">
        <ul class="list-unstyled list-inline">
          <li><span class="ti-user"></span> By: Admin</li>
          <li><span class="ti-calendar"></span> Feb 01, 2017</li>
        </ul>
        <div class="space-10"></div>
        <a href="blog-details-left-sidebar.html"><h3>Beautiful Place for your Great Journey</h3></a>
        <p style="height: 1.5em; overflow: hidden;">Lorem dolor sit amet, consectetur floralm adipisicing elit, sed do eiusmod tem aincididunt elauta labore eta dolore magna aliqualy eminem faenimve...</p>
      </div>
    </div>
    <div class="panel single-blog" style="margin-left: 5px;margin-right: 5px;">
      <div class="padding-20">
        <ul class="list-unstyled list-inline">
          <li><span class="ti-user"></span> By: Admin</li>
          <li><span class="ti-calendar"></span> Feb 01, 2017</li>
        </ul>
        <div class="space-10"></div>
        <a href="blog-details-left-sidebar.html"><h3>Beautiful Place for your Great Journey</h3></a>
        <p style="height: 1.5em; overflow: hidden;">Lorem dolor sit amet, consectetur floralm adipisicing elit, sed do eiusmod tem aincididunt elauta labore eta dolore magna aliqualy eminem faenimve...</p>
      </div>
    </div>
    <div class="panel single-blog" style="margin-left: 5px;margin-right: 5px;">
      <div class="padding-20">
        <ul class="list-unstyled list-inline">
          <li><span class="ti-user"></span> By: Admin</li>
          <li><span class="ti-calendar"></span> Feb 01, 2017</li>
        </ul>
        <div class="space-10"></div>
        <a href="blog-details-left-sidebar.html"><h3>Beautiful Place for your Great Journey</h3></a>
        <p style="height: 1.5em; overflow: hidden;">Lorem dolor sit amet, consectetur floralm adipisicing elit, sed do eiusmod tem aincididunt elauta labore eta dolore magna aliqualy eminem faenimve...</p>
      </div>
    </div>
    <div class="panel single-blog" style="margin-left: 5px;margin-right: 5px;">
      <div class="padding-20">
        <ul class="list-unstyled list-inline">
          <li><span class="ti-user"></span> By: Admin</li>
          <li><span class="ti-calendar"></span> Feb 01, 2017</li>
        </ul>
        <div class="space-10"></div>
        <a href="blog-details-left-sidebar.html"><h3>Beautiful Place for your Great Journey</h3></a>
        <p style="height: 1.5em; overflow: hidden;">Lorem dolor sit amet, consectetur floralm adipisicing elit, sed do eiusmod tem aincididunt elauta labore eta dolore magna aliqualy eminem faenimve...</p>
      </div>
    </div>
  </div>

  <div class="nav-notice" style="position: absolute;bottom: 13%;z-index: 8;color: black; font-size: 30px;">
    <span class="ti-angle-left left-notice" style="float: left;"></span>
  </div>
  <div class="nav-notice" style="position: absolute;bottom: 13%;right:0;z-index: 8;color: black; font-size: 30px;">
    <span class="ti-angle-right right-notice" style="float: right;"></span>
  </div>
</div>
