<div class="blog-details">
  <h1>Music Room</h1>
  <div class="space-20"></div>
  <p>The human life isn’t complete without music and the hall incomplete without its Music Room. The Music Room, situated adjacent to the Hall Mess, has always had great inspiration to offer to the residents. With varieties of different musical instruments, one can always relieve his stress with good music here.</p>
  <h4>List of Instruments</h4>
  <div>
    <!--Single-team-->
    <div *ngFor="let instrument of instruments; let i=index;" [class.row]="i%4 === 3">
      <div class="col-xs-6 col-sm-3">
        <div class="team-image relative ">
          <div class="team-details"><strong>{{ instrument.quantity + ' ' + instrument.name + ((instrument.quantity>1)?'s':'') }}</strong>
            <div class="space-2"></div>
          </div>
        </div>
        <div class="space-30"></div>
      </div>
    </div>
    <!--Single-team/-->
  </div>
</div>
