<div class="blog-details">
  <h1>Club Secretaries</h1>
  <div class="space-20"></div>
  <p>The secretaries of different clubs work under the coordinators for the overall functioning of the clubs. They work under various projects of the clubs and may act as volunteers for organising different events and workshops for their clubs.</p>
  <div class="space-10"></div>
  <h4>Programming Club Coordinator</h4>
  <div class="space-10"></div>

  <div class="space-10"></div>
  <h4>Electronics Club Coordinator</h4>
  <div class="space-10"></div>
</div>
