<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--Mainmenu-area-->
<app-mainmenu></app-mainmenu>
<!--Mainmenu-area/-->

<router-outlet></router-outlet>

<!--Footer-area-->
<app-footer></app-footer>
<!--Footer-area/-->

<!--=======================================================
Note: if your need everywhere space just use those classes.
===========================================================

   space-5
   space-10
   space-15
   space-20
   space-25
   space-30
   space-35
   space-40
   space-45
   space-50
   space-55
   space-60
   space-65
   space-70
   space-75
   space-80
   space-85
   space-90
   space-95
   space-100
   space-105
   space-110
   space-115
   space-120


   Example:

<div class="row">
    <div class="col-xs-12">
        <div class="single-div">
            <h2>This is title</h2>
            <div class="space-20"></div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="space-30"></div>
    </div>
</div>
<div class="space-60"></div>

  Any help for contact with me.

  Thanks

====================================================-->

