<section id="work" class="gray-bg">
  <div class="space-100"></div>
  <div class="container">
    <div class="row">
      <!--Work-page-title-->
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="text-center">
          <h3 class="text-uppercase">Gallery</h3>
          <p class="page-sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <!--Work-page-title/-->
    </div>
    <div class="space-60"></div>
    <div class="row close-grid img-full-width" id="grid">
      <!--Single-work-->
      <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
        <div class="single-work relative">
          <img src="images/work/work-1.jpg" alt="">
          <a href="images/work/work-1.jpg" class="work-popup"><span class="ti-blackboard" ></span></a>
          <div class="work-details">
            <h3>Portfolio title</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <!--Single-work/-->
      <!--Single-work-->
      <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
        <div class="single-work relative">
          <img src="images/work/work-16.jpg" alt="">
          <a href="images/work/work-16.jpg" class="work-popup"><span class="ti-blackboard"></span></a>
          <div class="work-details">
            <h3>Portfolio title</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, laborum!</p>
          </div>
        </div>
      </div>
      <!--Single-work/-->
      <!--Single-work-->
      <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
        <div class="single-work relative">
          <img src="images/work/work-7.jpg" alt="">
          <a href="images/work/work-7.jpg" class="work-popup"><span class="ti-blackboard"></span></a>
          <div class="work-details">
            <h3>Portfolio title</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <!--Single-work/-->
      <!--Single-work-->
      <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
        <div class="single-work relative">
          <img src="images/work/work-7.jpg" alt="">
          <a href="images/work/work-7.jpg" class="work-popup"><span class="ti-blackboard"></span></a>
          <div class="work-details">
            <h3>Portfolio title</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <!--Single-work/-->
      <!--Single-work-->
      <div class="col-xs-12 col-sm-6 col-md-4 grid-item">
        <div class="single-work relative">
          <img src="images/work/work-3.jpg" alt="">
          <a href="images/work/work-3.jpg" class="work-popup"><span class="ti-blackboard"></span></a>
          <div class="work-details">
            <h3>Portfolio title</h3>
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <!--Single-work/-->
      <!--Single-work-->
    </div>
    <div class="space-50"></div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="#" class="bttn">See more work</a>
      </div>
    </div>
  </div>
  <div class="space-100"></div>
</section>
