.tag {
    background-color: #c72228;/* color2 */
    border-radius: 20px;
    padding: 5px 10px;
    color: #fddfa3;/* color4 */
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.tag:hover {
    background-color: #5e0f14;/* color1 */
    color: #fab01a;/* color3 */
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .image {
        width: 250px;
        height: 250px;
        float: right;
        margin: 10px;
    } 
} 
@media screen and (max-width: 600px) {
    .image {
        width: 280px;
        height: 280px;
    } 
    .image-container{
        text-align: center;
        display: block;
    }
} 

