<section>
  <div class="space-80"></div>
  <div class="container">
    <div class="row">
      <!--Work-page-title-->
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="text-center">
          <h3 class="text-uppercase">Hall Map</h3>
          <p class="page-sub-title">The latest version of the hall map as produced by the HEC 17-18.</p>
        </div>
      </div>
      <!--Work-page-title/-->
    </div>
    <div class="space-50"></div>
    <div class="row" style="text-align: center;">
      <img src="/server/files/map.jpg" alt="Map">
    </div>
    <div class="space-100"></div>
  </div>
</section>