<div class="space-80"></div>
<div class="text-center">
  <h3 class="text-uppercase">Facilities</h3>
  <p class="page-sub-title">Have a look at the facilities of Hall 3.</p>
</div>
<div class="space-40"></div>

<div class="container">
  <ngx-carousel-3d [slides]="slides" [options]="options" class="col-12" #carousel>
      <ngx-carousel-3d-slide *ngFor="let slide of slides; let i = index" (click)="carousel.slideClicked(i)">
          <img 	[title]="'Click to know more about our ' + slide.cap" 
          		class="slide-img" [src]="slide.src" [alt]="slide.cap"
          		[routerLink]="slide.link"/>
          <h4 class="slide-desc">
          	<a [routerLink]="slide.link">{{ slide.cap }}</a>
          </h4>
      </ngx-carousel-3d-slide>
  </ngx-carousel-3d>
</div>
<div class="space-80"></div>
