<!--Header-Area-->
<header class="relative header-area" id="home">
  <div class="header-bg header-bg-color">
    <div *ngFor="let i of [1,2,3,4,5,6];" class="header-bg-image home-parallax"></div>
  </div>
  <h1>Galaxy Winner Hall 3</h1>
  <app-topnews></app-topnews>
  <!--div class="header-scroll-btton smoth">
    <a href="#about"><span class="ti-arrow-down"></span></a>
  </div-->
</header>
<!--Header-Area/-->

<!--About-Area-->
<app-about></app-about>
<!--About-Area/-->

<!--Facilities-Area-->
<app-facilities></app-facilities>
<!--Facilities-Area/-->

<!--Skill-Area-->
<!--Skill-Area/-->

<!--Administration-Area/-->
<app-administration></app-administration>
<!--Administration-Area/-->

<!--Gallery-Area-->
<!--Gallery-Area/-->

<!--Price-Area-->
<!--Price-Area/-->

<!--News-Area-->
<!--News-Area/-->

<!--Feedback-Area-->
<app-feedback></app-feedback>
<!--Feedback-Area-->

<!--Map-Area-->
<app-map></app-map>
<!--Map-Area-->
