<section id="service" class="fix">
  <div class="space-100"></div>
  <div class="container">
    <div *ngIf="false" style="text-align: center">
      <h1>Not Found</h1>
      <p>The page you are requesting either does not exist or has expired.</p>
      <div class="space-200"></div>
    </div>
    <div class="row" *ngIf="!false">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding30">
        <div class="space-30"></div>
        <h5>Posting As: &emsp;<span *ngIf="user">{{ user.name }}</span></h5>
        <div *ngIf="head.touched && head.errors && head.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(head.touched && head.errors)"></div>
        <input
                type="text"
                class="form-control"
                name="head"
                placeholder="Heading"
                autofocus
                required
                [(ngModel)]="data['head']"
                maxlength="60"
                #head="ngModel">
        <div *ngIf="link.touched && link.errors && link.errors.pattern" style="font-size: 11px; color: orange">*Invalid link</div>
          <div class="space-20" *ngIf="!(link.touched && link.errors)"></div>
        <input  [(ngModel)]="data['link']"
                type="text"
                class="form-control"
                name="link"
                placeholder="Link"
                pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
                #link="ngModel">
        <div *ngIf="cat.touched && cat.errors && cat.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(cat.touched && cat.errors)"></div>
        <select class="form-control"
                name="cat"
                [(ngModel)]="data['cat']"
                #cat="ngModel"
                required>
          <option value="" disabled selected>Choose category</option>
          <option value="announcements">Announcements</option>
          <option value="lnf">Lost & Found</option>
          <option value="mess minutes">Mess Committee Minutes</option>
          <option value="maintenance minutes">Maintenance Committee Minutes</option>
          <option value="sac minutes">Students' Activity Committee Minutes</option>
          <option value="advisory minutes">Advisory Committee Minutes</option>
          <option value="minutes">Other Minutes</option>
          <option value="other_documents">Other Documents</option>
        </select>
        <div *ngIf="selectTouched && !selectedtargetAudience.length" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!selectTouched || selectedtargetAudience.length"></div>
        <ng-multiselect-dropdown
          tabindex="0" #to
          (keyup.tab)="passFocus($event)"
          (keydown.esc)="loseFocus()"
          (keydown.enter)="keyupToggle($event)"
          (keydown.space)="keyupToggle($event)"
          (click)="selectTouched=true"
          placeholder="Choose target audience"
          [data]="targetAudienceList"
          [(ngModel)]="selectedtargetAudience"
          [settings]="dropdownSettings"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onItemSelect($event)"
        ></ng-multiselect-dropdown>
        <div *ngIf="body.touched && body.errors && body.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(body.touched && body.errors)"></div>
        <textarea class="form-control"
                  placeholder="Description here..."
                  autosize
                  rows="3"
                  [(ngModel)]="data['body']"
                  #body="ngModel"
                  required>
        </textarea>
        <div class="space-20"></div>
        <button class="bttn"
                (click)="addNews(head.value,link.value,cat.value,body.value)"
                [disabled]="submitted ||
                            (cat.errors && cat.errors.required) ||
                            (head.errors && head.errors.required) ||
                            (link.errors && link.errors.pattern) ||
                            (selectedtargetAudience && !selectedtargetAudience.length) ||
                            (body.errors && body.errors.required)"
        >{{ (submitted)?'Adding...':'Add Notice' }}</button>
        <button class="bttn" routerLink="/user/dashboard" style="float: right">Cancel</button>
      </div>
    </div>
  </div>
  <div class="space-100"></div>
</section>
