h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #fab01a;
    text-align: center;
    position: absolute;
    top: 25vh;
    left: calc(50% - 273px);
    -webkit-text-stroke: 1px #5E0F14;
   text-shadow:
       3px 3px 0 #5E0F14,
     -1px -1px 0 #5E0F14,  
      1px -1px 0 #5E0F14,
      -1px 1px 0 #5E0F14,
       1px 1px 0 #5E0F14;
}

@media(max-width: 546px){
    h1 {
        left: 0;
    }
}

.header-bg:after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    background: rgba(253,223,163, 0.3);
}

.header-bg .home-parallax {
    animation: imageAnimation 48s linear infinite 0s;
}

.header-bg .home-parallax:nth-child(6) {
    background-image: url("../../../images/cover1.jpg");
}

.header-bg .home-parallax:nth-child(5) {
    background-image: url("../../../images/cover2.jpg");
    animation-delay: 8s;
}

.header-bg .home-parallax:nth-child(4) {
    background-image: url("../../../images/cover3.jpg");
    animation-delay: 16s;
}
.header-bg .home-parallax:nth-child(3) {
    background-image: url("../../../images/cover4.jpg");
    animation-delay: 24s;
}
.header-bg .home-parallax:nth-child(2) {
    background-image: url("../../../images/cover5.jpg");
    animation-delay: 32s;
}
.header-bg .home-parallax:nth-child(1) {
    background-image: url("../../../images/cover6.jpg");
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in
    }
    5% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
    17% {
        opacity: 1;
        transform: scale(1.1);
    }
    29% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% { opacity: 0 }
}