<section class="fix">
  <div class="space-100"></div>
  <div class="container">
    <div class="row">
      <div *ngIf="user" class="flexbox-container">
        <div class="space-40"></div>
        <h2>Your Dashboard</h2>
        <div class="space-10"></div>
        <h4>{{ 'Welcome ' + user.name }}</h4>
        <div *ngFor="let option of options">
          <div class="space-20"></div>
          <button class="bttn" [routerLink]="option.link">{{ option.text }}</button>
        </div>
        <div class="space-20"></div>
        <button class="bttn" (click)="logout()">Logout</button>
        <div>
          <div class="space-40"></div>
          <h3 style="text-align: center;">Your Notices</h3>
          <div class="space-10"></div>
          <p *ngIf="loaded && data.length == 0">You have posted no notices yet.</p>
          <app-loader [show]="!loaded"></app-loader>
          <div *ngIf="loaded" style="display: flex; flex-wrap: wrap;">
            <app-news-tile *ngFor="let news of data"
                           [news]="news" [edit]="true" [maxbody]="160"
                           style="margin-bottom: 10px;"
                           class="col-xs-12 col-sm-6 col-md-4 wow fadeInUp"
                           attr.data-wow-delay="0.2">
            </app-news-tile>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-100"></div>
</section>
