<div class="blog-details">
  <h1>Computer Room</h1>
  <div class="space-20"></div>
  <p>The Computer Room of the Hall is essentially a place for the 1st year students as they are discouraged to bring their laptops with them by the institute authorities. The Computer Room has 8 functional PCs, among which 6 have the latest Windows OS and 2 of them have Ubuntu. If you have to make an assignment or simply study and don’t want to go to the NCL/CC, the Hall Computer Room is the right place for you!</p>
  <div class="space-20"></div>
  <h4>Pictures</h4>
  <app-carousel [images]="images"></app-carousel>
</div>
