<div class="col-xs-12 text-center">
  <button class="bttn" 
          (click)="revealer()" 
          [disabled]="reveal && !loaded">
    {{ reveal?(loaded?'Hide':'Loading'):'Show' }} Minutes
  </button>
</div>
<div class="space-20"></div>
<div [style.max-height]="reveal?(250*(1 + data.length/width))+'px':'0'" class="minutes">
  <div style="display: flex; flex-wrap: wrap;" *ngIf="loaded">
    <app-news-tile *ngFor="let news of data"
                    [news]="news" [maxbody]="maxchars"
                    class="col-xs-12 col-sm-6"
                    style="margin-bottom: 20px;">
    </app-news-tile>
  </div>
</div>