<section class="no-padding" >
  <div class="row" style="width: 100%">
    <!--Team-page-title-->
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="space-80"></div>
      <div class="text-center">
        <h3 class="text-uppercase">Facilities</h3>
        <p class="page-sub-title">These are the facilities of Hall 3.</p>
      </div>
    </div>
    <!--Team-page-title-->
  </div>
  <div class="space-30"></div>
  <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
      <div class="col-md-3 col-xs-6">
        <a routerLink="/facility/mess" class="portfolio-box">
          <img src="images/facilities/mess.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Mess
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a routerLink="/facility/tv" class="portfolio-box">
          <img src="images/facilities/tv.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                TV Room
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a routerLink="/facility/guest" class="portfolio-box">
          <img src="images/facilities/guest.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Guest Room
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a routerLink="/facility/computer" class="portfolio-box">
          <img src="images/facilities/comp.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Computer Room
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a routerLink="/facility/sports" class="portfolio-box">
          <img src="images/facilities/sports.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Sports facilities
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a routerLink="/facility/music" class="portfolio-box">
          <img src="images/facilities/music.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Music Room
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-xs-6">
        <a routerLink="/facility/canteen" class="portfolio-box">
          <img src="images/facilities/canteen.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Canteen
              </div>
            </div>
          </div>
        </a>
      </div>
        <div class="col-md-3 col-xs-6">
          <a routerLink="/facility/reading" class="portfolio-box">
            <img src="images/facilities/rr.jpg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-name">
                  Reading Room
                </div>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
  <div class="space-80"></div>
</section>
