<div class="space-20"></div>
<div class="text-center">
  <h3 class="text-uppercase">Facilities</h3>
  <p class="page-sub-title">Have a look at the facilities of Hall 3.</p>
</div>
<div class="space-40"></div>

<div class="container">
  <ng2-carousel-3d [slides]="slides" [options]="options" class="col-12" #carousel>
      <ng2-carousel-3d-slide *ngFor="let slide of slides; let i = index" (click)="carousel.slideClicked(i)">
          <img class="slide-img" [src]="slide.src" alt=""/>
          <a [routerLink]="slide.link"><h4 class="slide-desc">{{ slide.cap }}</h4></a>
      </ng2-carousel-3d-slide>
  </ng2-carousel-3d>
</div>
<div class="space-80"></div>
