<div class="panel single-blog">
  <div style="text-align: left;">
    <!--Meta-Data-->
    <ul class="list-unstyled list-inline">
      <li *ngIf="!edit">
        <span class="ti-user"></span>
        <span>{{ news['by'] }}</span>
      </li>
      <li>
        <span class="ti-calendar"></span>
        <span>{{ getFormattedDate(news['date']) }}</span>
      </li>
      <li *ngIf="edit" style="float: right;">
        <a [routerLink]="'/notices/edit/' + news['_id']">
          <span class="ti-marker-alt"></span>&nbsp;Edit
        </a>
      </li>
    </ul>
    <!--Meta-Data/-->
    <!--Heading-Area-->
    <!--In-case-of-external-link-->
    <a *ngIf="isURL(news['link']) && !isInternalURL(news['link'])" [href]="news['link']" target="_blank">
      <h4>
        <img *ngIf="isNew(news['date'])" src="/images/new.gif" style="height: 15px;width:29px;float: left">{{ news['head'] }}
      </h4>
    </a>
    <!--In-case-of-internal-link-->
    <a *ngIf="isURL(news['link']) && isInternalURL(news['link'])" [routerLink]="getInternalRoute(news['link'])">
      <h4>
        <img *ngIf="isNew(news['date'])" src="/images/new.gif" style="height: 15px;width:29px;float: left">{{ news['head'] }}
      </h4>
    </a>
    <!--In-case-of-no-link-->
    <h4 *ngIf="!isURL(news['link'])">
      <img *ngIf="isNew(news['date'])" src="/images/new.gif" style="height: 15px;width:29px;float: left">{{ news['head'] }}
    </h4>
    <!--Heading-Area/-->
    <!--Body-Area-->
    <p>
      <span [innerHTML]="preProcess(trim(news['body']))"></span>
      <a *ngIf="news['body'].length > maxbody" [routerLink]="'/notices/single/' + news['_id']" style="color: #7b76c8; text-decoration: underline"> more</a>
    </p>
    <p *ngIf="edit">
      <b>Category:</b>
      <a class="tag" [routerLink]="'/notices/category/' + getCategory()">{{ titlize(news['category'].join(' ')) }}</a>
    </p>
    <!--Body-Area/-->
  </div>
</div>
