<!--Team-page-title-->
<div class="text-center">
  <h3 class="text-uppercase">Hall Executive Committee</h3>
  <p>The main administrative body of the hall.</p>
</div>
<!--Team-page-title-->

<!--Wardens-->
<div id="wardens" class="container">
  <div class="space-60"></div>
  <div class="flexbox-container" [class.invisible]="!wardensloaded">
    <!--Single-team-->
    <div *ngFor="let warden of wardens; let i=index;"
        class="col-xs-6 col-sm-3 wow fadeIn"
        [attr.data-wow-delay]="((i === 0) ? 0.2 : 0.4) + 's'">
        <div class="team-image relative">
            <div class="relative">
                <img [src]="warden['photo']?'/server/' + warden['photo']:'/images/default.jpg'"
                    [alt]="warden['name'] + '\'s photo'"
                    (load)="load()">
            </div>
            <div class="team-details">
              <strong>{{ warden['name'] }}</strong><!-- style="background-color: #B4F4F4"-->
              <div class="space-2"></div>
              <p>
                {{ warden['post'] }}<br>
                {{ warden['contact'] }}<br>
                {{ warden['email'] }}
              </p>
            </div>
        </div>
        <div class="space-30"></div>
    </div>
    <!--Single-team/-->
  </div>
</div>
<!--Wardens/-->

<app-loader [show]="!wardensloaded || !hecloaded" width="20%"></app-loader>

<!--Student HECs-->
<div id="HEC" *ngIf="hecloaded" class="container">
  <div class="space-30"></div>
  <app-tiles [tiles]="hec" [fadeIn]="fader"></app-tiles>
  <div class="space-30"></div>
  <div style="display: flex; justify-content: center;">
    <a routerLink="/administration/mess" class="bttn">View Other Committees</a>
  </div>
  <div class="space-60"></div>
</div>
<!--Student HECs/-->
