<owl-carousel *ngIf="loaded"
              [options]="carouselOptions"
              [carouselClasses]="['owl-theme', 'container', 'sliding']"
              style="position: absolute;bottom: 2%;width: 100%;z-index: 5;">

  <app-news-tile *ngFor="let news of data" [news]="news" [maxbody]="maxchars"></app-news-tile>

  <div  [id]="'newstile' + data.length"
        class="item panel single-blog view-more"
        routerLink="/notices/category/all">
    <div class="flexbox-container">
      <h2> View More </h2>
    </div>
  </div>

</owl-carousel>
