<div class="flexbox-container"
     [style.justify-content]="justify">
  <div *ngFor="let tile of _tiles; let i = index;"
       class="col-xs-12 col-sm-12 single-blog panel"
       [class.wow]="fadeIn(i)"
       [class.fadeIn]="fadeIn(i)"
       [attr.data-wow-delay]="fadeIn(i)+'s'">
     <div class="row" relative [class.edit]="editable">
          <div class="col-sm-3">
               <div *ngIf="tile.hasOwnProperty('image')"
               class="relative">
                    <img [class.invisible]="images.indexOf(tile['image']) !== -1"
                         [src]="tile['image']?'/server/' + tile['image']:'/photos/default.jpg'" [alt]="tile['name']"
                         (load)="load(images.indexOf(tile['image']))">
               
                    <button class="deletePic" *ngIf="tile.hasOwnProperty('image') && tile['image'] && editable" (click)="change('', i, 'image')">
                         <span class="ti-image"></span>REMOVE
                    </button>
                    <ngx-cropper *ngIf="tile.hasOwnProperty('image') && editable" 
                                   [config]="ngxCropperConfig"
                                   (returnData)="onUpload($event, i)"></ngx-cropper>
               </div>
               <p [class.invisible] = "editable" style="text-align: center; font-weight: bolder;"><strong>{{ tile['name'] }}</strong><br>
                    <span *ngIf="tile.hasOwnProperty('batch')">{{ tile['batch'] }}<br></span>
               </p>
               <p [class.invisible] = "!editable" style="text-align: center;"> 
                    <strong>
                         <input  AutoSizeInput
                              type="text"
                              [disabled]="saving"
                              [ngModel]="tile['name']"
                              (ngModelChange)="change($event,i,'name')">
                    </strong><br>
                    <span>
                         <input  AutoSizeInput
                              type="text"
                              [disabled]="saving"
                              [ngModel]="tile['batch']"
                              (ngModelChange)="change($event,i,'batch')">
                    </span>
               </p>
          </div>
          <div class="col-sm-9" >
               <div class="space-2"></div>       
               <p  [class.invisible]="editable">
                    <!-- <span *ngIf="tile.hasOwnProperty('content')" [innerHTML]="tile['content']"></span> -->
                    <span><markdown ngPreserveWhitespaces [data]="trim(tile)"></markdown></span>
                    <!-- <a *ngIf="tile['content'].length > maxbody" [routerLink]="'/people/single/'+tile['id']" style="color: #c72228; text-decoration: underline"> continue reading.</a> -->
               </p>
               <p [class.invisible]="!editable">
                    <span>
                         <textarea  autosize
                              class="form-control"
                              type="text"
                              [disabled]="saving"
                              [ngModel]="tile['content']"
                              (ngModelChange)="change($event,i,'content')"></textarea>
                    </span>
               </p>
          </div>     
     </div>
     <div *ngIf="editable && i>0"
          (click)="saving?null:prev(i)"
          [class.disabled]="saving"
          class="prev ti-angle-double-left"
          [title]="saving?'':'Move Left'">
     </div>
     <div *ngIf="editable && i<_tiles.length-1"
          (click)="saving?null:next(i)"
          [class.disabled]="saving"
          class="next ti-angle-double-right"
          [title]="saving?'':'Move Right'">
     </div>
     <div *ngIf="editable"
             (click)="saving?null:del(i)"
             [class.disabled]="saving"
             class="del"
             [title]="saving?'':'Delete'"
             [class.ti-trash]="sureDel !== i"
             [class.sureDel]="sureDel === i">
        </div>
  </div>
  <div class="space-20"></div>
  <div *ngIf="editable"
       class="col-xs-6 col-sm-3"
       [style.min-height]="_tiles[0].hasOwnProperty('image')?'152px':'92px'" >
     <span class="add"
          (click)="saving?null:add()"
          [class.disabled]="saving"
          [title]="saving?'':'Add'">+</span>
  </div>  
</div>
