<div class="flexbox-container"
     [style.justify-content]="justify">
  <div  *ngFor="let tile of _tiles; let i = index;"
       class="col-xs-6 col-sm-3"
       [class.wow]="fadeIn(i)"
       [class.fadeIn]="fadeIn(i)"
       [attr.data-wow-delay]="fadeIn(i)+'s'">
    <div class="team-image" relative
         [class.edit]="editable">
      <div *ngIf="tile.hasOwnProperty('image')"
           class="relative">
        <img *ngIf="images.indexOf(tile['image']) !== -1"
             [src]="'../../../images/loading.gif'" alt="Loading...">
        <img [class.invisible]="images.indexOf(tile['image']) !== -1"
             [src]="tile['image']" [alt]="tile['name']"
             (load)="load(images.indexOf(tile['image']))">
        <button class="deletePic" *ngIf="tile.hasOwnProperty('image') && tile['image'] && editable" (click)="change('', i, 'image')">
          <span class="ti-image"></span>REMOVE
        </button>
        <ngx-cropper *ngIf="tile.hasOwnProperty('image') && editable" 
                     [config]="ngxCropperConfig"
                     (returnData)="onUpload($event, i)"></ngx-cropper>
      </div>
      <div *ngIf="!editable"
           class="team-details">
        <strong>{{ tile['name'] }}</strong>
        <div class="space-2"></div>
        <span *ngIf="tile.hasOwnProperty('batch')">{{ tile['batch'] }}<br></span>
        <p><span *ngIf="tile.hasOwnProperty('content')" [innerHTML]="trim(tile['content'])"><br></span>
          <a *ngIf="tile['content'].length > maxbody" [routerLink]="'/people/single/232'" style="color: #c72228; text-decoration: underline"> more</a>
        </p>
      </div>
     
