<!--Blog-Section-->
<section>
  <div class="space-80"></div>
  <div class="container">
    <div class="row img-full-width">
      <div class="col-xs-12 col-md-9 pull-right">
        <div *ngIf="!loaded" style="vertical-align:middle; text-align:center">
          <div class="space-70"></div>
          <img src="../../../../images/loading.gif" style="width: 30%">
        </div>
        <div class="blog-details" *ngIf="loaded">
          <div class="space-15"></div>
          <ul class="breadcrumb">
            <li><span class="ti-user"></span>{{ ' By: ' + news['by'] }}</li>
            <li><span class="ti-calendar"></span>{{ ' ' + getFormattedDate(news['date']) }}</li>
          </ul>
          <div class="space-10"></div>
          <!--In-case-of-a-link-->
          <a *ngIf="isURL(news['link'])" [href]="news['link']" target="_blank">
            <h2>
              {{ news['head'] }}
            </h2>
          </a>
          <!--In-case-of-no-link-->
          <h2 *ngIf="!isURL(news['link'])">
            {{ news['head'] }}
          </h2>
          <div class="space-20"></div>
          <p style="white-space: pre-wrap">{{ news['body'] }}</p>
          <!--blockquote class="text-italic">Qutoted Text Style</blockquote-->
          <div class="space-40"></div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ul class="list-inline list-unstyled">
                <li><strong>Category:</strong></li>
                <li class="tag" [routerLink]="'/notices/category/' + getCategory()">
                  {{ (getCategory() === 'lnf')?'lost & found':getCategory() }}
                </li>
              </ul>
            </div>
          </div>
          <!--div class="space-80"></div>
          <div class="comment-box">
            <h3>Comments on this post</h3>
            <div class="space-10"></div>
            <h6>3 Comments</h6>
            <div class="space-30"></div>
            <div class="comment-list">
              <div class="media">
                <div class="media-left">
                  <div class="box100">
                    <img src="images/blog/comment/1.png" alt="">
                  </div>
                </div>
                <div class="media-right">
                  <h4><a href="#">Rossi Lociana</a></h4>
                  <small>2 hours ago</small>
                  <div class="space-10"></div>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quaa</p>
                  <div class="space-20"></div>
                  <div class="reply-box">
                    <form action="#">
                      <div class="row">
                        <div class="col-xs-8">
                          <input type="text" class="form-control round" placeholder="Reply your comment..">
                        </div>
                        <div class="col-xs-4 ">
                          <button class="bttn text-uppercase" type="submit">Reply</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <hr>
                  <div class="media">
                    <div class="media-left">
                      <div class="box100">
                        <img src="images/blog/comment/2.png" alt="">
                      </div>
                    </div>
                    <div class="media-right">
                      <h4><a href="#">Rossi Lociana</a></h4>
                      <small>4 hours ago</small>
                      <div class="space-10"></div>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quaa</p>
                      <div class="space-20"></div>
                      <div class="reply-box">
                        <form action="#">
                          <div class="row">
                            <div class="col-xs-8">
                              <input type="text" class="form-control round" placeholder="Reply your comment..">
                            </div>
                            <div class="col-xs-4">
                              <button class="bttn text-uppercase" type="submit">Reply</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <div class="media">
                <div class="media-left">
                  <div class="box100">
                    <img src="images/blog/comment/3.png" alt="">
                  </div>
                </div>
                <div class="media-right">
                  <h4><a href="#">Rossi Lociana</a></h4>
                  <small>3 hours ago</small>
                  <div class="space-10"></div>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quaa</p>
                  <div class="space-20"></div>
                  <div class="reply-box">
                    <form action="#">
                      <div class="row">
                        <div class="col-xs-8">
                          <input type="text" class="form-control round" placeholder="Reply your comment..">
                        </div>
                        <div class="col-xs-4">
                          <button class="bttn text-uppercase" type="submit">Reply</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="space-30"></div>
            <h3>Post your comment</h3>
            <div class="space-15"></div>
            <form action="#">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <input type="text" class="form-control" name="name" placeholder="Name">
                  <div class="space-15"></div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <input type="email" class="form-control" name="email" placeholder="Email">
                  <div class="space-15"></div>
                </div>
                <div class="col-xs-12 col-sm-10 col-md-4">
                  <input type="text" class="form-control" name="subject" placeholder="Subject">
                  <div class="space-15"></div>
                </div>
                <div class="col-xs-12">
                  <textarea name="message" id="message" rows="5" class="form-control" placeholder="Message"></textarea>
                  <div class="space-15"></div>
                </div>
                <div class="col-xs-12">
                  <button class="bttn">Post comment</button>
                </div>
              </div>
            </form>
          </div-->
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <aside class="sidebar">
          <div class="space-30"></div>
          <!--div class="single-sidebar category">
            <h3>Category</h3>
            <hr>
            <ul class="list-unstyled">
              <li><a href="#">Mobile App <q>10</q></a></li>
              <li><a href="#">Trending Post <q>15</q></a></li>
              <li><a href="#">App Category <q>20</q></a></li>
              <li><a href="#">Lifestyle   <q>25</q></a></li>
              <li><a href="#">Photography <q>30</q></a></li>
              <li><a href="#">Videos <q>35</q></a></li>
            </ul>
          </div>
          <div class="space-60"></div>
          <!--Sidebar-popular-post-->
          <div class="single-sidebar">
            <h3>Latest Notices</h3>
            <hr>
            <ul class="list-unstyled">
              <li *ngFor="let topnews of latestNews" [class.invisible]="(news['_id'] === topnews['_id'])">
                <a class="tab" [routerLink]="'/notices/single/' + topnews['_id']">
                  <small><span class="ti-user"></span>{{ ' By: ' + topnews['by'] }}</small>
                  <small style="margin-left: 5px "><span class="ti-calendar"></span>{{ ' ' + getFormattedDate(topnews['date']) }}</small>
                  <h5>{{ topnews['head'] }}</h5>
                </a>
              </li>
              <li>
                <a routerLink="/notices/category/all">
                  <h5 style="text-align: center;">View More</h5>
                </a>
              </li>
            </ul>
          </div>
          <!--Sidebar-popular-post->
          <div class="space-60"></div>
          <!--Sidebar-tags-list->
          <div class="single-sidebar">
            <h3>Tags</h3>
            <hr>
            <ul class="list-unstyled list-inline">
              <li *ngFor="let cat of news['category']"><a href="#">{{ cat }}</a></li>
            </ul>
          </div>
          <!--Sidebar-tags-list/-->
        </aside>
        <!--Sidebar/-->
      </div>
    </div>

  </div>
  <div class="space-80"></div>
</section>
<!--Blog-Section/-->
