.meta {
    margin-top: 18px;
    margin-bottom: 4px;
}

.blog-details {
    word-break: break-word;
}

.tab {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border: 1px solid #fddfa3; /* color4 */
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.tab h5, .tab small
{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    color: #5e0f14; /* color1 */
}

.tab:hover, .activeTab
{
    background-color: #c72228; /* color2 */
}
.tab:hover h5, .tab:hover small, .activeTab h5, .activeTab small
{
    color: #fddfa3; /* color4 */
}

.tag {
    background-color: #c72228; /* color2 */
    border-radius: 20px;
    padding: 5px 10px;
    color:  #fddfa3; /* color4 */
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.tag:hover{
    background-color:  #5e0f14; /* color1 */
    color: #fab01a; /* color3 */
    cursor: pointer;
}
