<div class="blog-details">
  <h1>Academic Mentors</h1>
  <div class="space-20"></div>
  <p>During the entire first year, one is sure to face academic problems at one point or the other. Fear not, as the Academic Mentors are there for rescue. From pettiest to the most in depth conceptual doubts, the students are free to approach any Academic Mentor anytime.</p>
  <div class="space-10"></div>
  <h4>List of Academic Mentors</h4>
  <div class="space-10"></div>
  <app-loader [show]="!loaded"></app-loader>
  <app-tiles [class.invisible]="!loaded" [tiles]="ams"></app-tiles>
</div>
