<section id="service" class="fix" *ngIf="data">
  <div class="space-100"></div>
  <div class="container">
    <div *ngIf="false" style="text-align: center">
      <h1>Not Found</h1>
      <p>The page you are requesting either does not exist or has expired.</p>
      <div class="space-200"></div>
    </div>
    <div class="row" *ngIf="!false">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding30">
        <div class="space-30"></div>
        <h5>Posting As: &emsp;<span>{{ user.name }}</span></h5>
        <div *ngIf="head.touched && head.errors && head.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(head.touched && head.errors)"></div>
        <input
                type="text"
                class="form-control"
                name="head"
                placeholder="Heading"
                autofocus
                required
                [(ngModel)]="data['head']"
                maxlength="60"
                #head="ngModel">
        <div class="space-20"></div>
        <input
                type="text"
                class="form-control"
                name="link"
                placeholder="Link"
                [(ngModel)]="data['link']"
                #link>
        <div *ngIf="cat.touched && cat.errors && cat.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(cat.touched && cat.errors)"></div>
        <select class="form-control"
                name="cat"
                [(ngModel)]="data['category']"
                #cat="ngModel"
                required>
          <option value="" disabled selected>Choose category</option>
          <option value="announcements">Announcements</option>
          <option value="mess minutes">Mess Committee Minutes</option>
          <option value="maintenance minutes">Maintenance Committee Minutes</option>
          <option value="sac minutes">Students' Activity Committee Minutes</option>
          <option value="minutes">Other Minutes</option>
          <option value="other_documents">Other Documents</option>
        </select>
        <div *ngIf="body.touched && body.errors && body.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(body.touched && body.errors)"></div>
        <textarea class="form-control"
                  placeholder="Description here..."
                  rows="3"
                  name="body"
                  [(ngModel)]="data['body']"
                  #body="ngModel"
                  required>
        </textarea>
        <div class="space-20"></div>
        <button class="bttn"
                (click)="updateNews(head.value,link.value,cat.value,body.value)"
                [disabled]="submitted ||
                            (cat.errors && cat.errors.required) ||
                            (head.errors && head.errors.required) ||
                            (body.errors && body.errors.required)"
        >{{ (submitted)?'Updating...':'Update' }}</button>
        <button class="bttn" routerLink="/dashboard" style="float: right">Cancel</button>
      </div>
    </div>
  </div>
  <div class="space-100"></div>
</section>
