<section id="service" class="fix">
  <div class="space-100"></div>
  <div class="container">
    <div *ngIf="false" style="text-align: center">
      <h1>Not Found</h1>
      <p>The page you are requesting either does not exist or has expired.</p>
      <div class="space-200"></div>
    </div>
    <div class="row" *ngIf="!false">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 padding30">
        <div class="space-60"></div>
        <h5>Posting As: &emsp;<span>{{ user.name }}</span></h5>
        <div *ngIf="head.touched && head.errors && head.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(head.touched && head.errors)"></div>
        <input
                type="text"
                class="form-control"
                name="head"
                placeholder="Heading"
                autofocus
                required
                ngModel
                maxlength="60"
                #head="ngModel">
        <div class="space-20"></div>
        <input
                type="text"
                class="form-control"
                name="link"
                placeholder="Link"
                #link>
        <div *ngIf="cat.touched && cat.errors && cat.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(cat.touched && cat.errors)"></div>
        <select class="form-control"
                name="cat"
                ngModel
                #cat="ngModel"
                required>
          <option value="" disabled selected>Choose category</option>
          <option value="announcements">Announcements</option>
          <option value="mess minutes">Mess Committee Minutes</option>
          <option value="maintenance minutes">Maintenance Committee Minutes</option>
          <option value="sac minutes">Students' Activity Committee Minutes</option>
          <option value="minutes">Other Minutes</option>
          <option value="other_documents">Other Documents</option>
        </select>
        <div *ngIf="to.touched && to.errors && to.errors.required" style="font-size: 11px; color: red">*Required</div>
        <div class="space-20" *ngIf="!(to.touched && to.errors)"></div>
        <select class="form-control"
                name="to"
                ngModel
                #to="ngModel"
                required>
          <option value="" disabled selected>Choose target audience</option>
          <option value="y15 y16 y17">All</option>
          <option value="y17">Y17 only</option>
          <option value="y16">Y16 only</option>
          <option value="y15">Y15 only</option>
          <option value="y17 y16">Y17 and Y16</option>
          <option value="y16 y15">Y16 and Y15</option>
          <option value="y15 y17">Y15 and Y17</option>
        </select>
        <div class="space-20"></div>
        <label><input type="checkbox" (change)="add=!add">&emsp;Add a short description</label>
        <textarea [class.invisible]="!add"
                  class="form-control"
                  placeholder="Description here... (Max 120 characters)"
                  rows="3"
                  maxlength="120"
                  #body
        ></textarea>
        <div class="space-20"></div>
        <button class="bttn"
                (click)="addNews(head.value,link.value,cat.value,to.value,body.value)"
                [disabled]="submitted || (cat.errors && cat.errors.required) || (head.errors && head.errors.required) || (to.errors && to.errors.required)"
        >{{ (submitted)?'Adding...':'Add Notice' }}</button>
        <button class="bttn" routerLink="/dashboard" style="float: right">Cancel</button>
      </div>
    </div>
  </div>
  <div class="space-100"></div>
</section>
