<div class="blog-details">
  <h1>Advisory Committee</h1>
  <div class="space-20"></div>
  <p>The advisory committee shall be the supreme advising and grievance remedial committee of the hall. The members of the advisory committee shall be those active residents of the hall who are well-acquainted with the constitution of the hall and will ensure that it is being followed by all at all times.</p>
  <div class="space-10"></div>
  <app-infohead (edit)="tiles.edit();"
                (save)="tiles.save();"
                (discard)="members=tiles.discard()">Members</app-infohead>
  <div class="space-10"></div>
  <app-loader [show]="!loaded"></app-loader>
  <app-tiles [class.invisible]="!loaded" [tiles]="members" (save)="save($event)"></app-tiles>
  <div class="space-30"></div>
  <app-minutes-revealer category="advisory"></app-minutes-revealer>
</div>
