<nav class="mainmenu-area navbar navbar-inverse navbar-fixed-top affix">
    <div class="container">

      <div class="navbar-header">
        <!--data-toggle="collapse" data-target="#mainmenu_collapse"-->
        <button type="button" class="navbar-toggle" (click)="toggleDrop(0)">
          <div class="wrapper-menu"  [class.open]="dropped">
            <div class="line-menu half start"></div>
            <div class="line-menu"></div>
            <div class="line-menu half end"></div>
          </div>
        </button>
        <a class="navbar-brand" routerLink="/" (click)="dropped?toggleDrop(0):null">
          <h1 class="navbar-title">Hall 3</h1>
        </a>
      </div>

      <div class="navbar-collapse"
          [style.height]="mobile?(dropped?'calc(100vh - 55px)':'0'):'auto'"
          [style.overflow]="mobile?'hidden':'initial'"
          id="mainmenu_collapse">
        <ul class="nav smoth navbar-nav navbar-right" [class.navbar-small-screen]="mobile" id="mainmenu">
          <li *ngFor="let item of menu; let i=index" class="{{ item['class'] }}">
            <!-- Menu Item -->
            <a [class.dropdown-toggle]="hasDropDown(i)"
               [class.dropdown2-toggle]="dropped2['index'] == i && dropped2['dropped']"
               [routerLink]="link(item['linkId'])"
               (click)="toggleDrop(i)">
              {{ item['title'] }} <span [class.caret]="hasDropDown(i)"
                                        [style.transform]=
                                        "(dropped2['index'] == i && dropped2['dropped'])?'rotate(180deg)':'rotate(0deg)'">
                                  </span>
            </a>

            <!-- Sub Menu -->
            <ul *ngIf="hasDropDown(i)" class="dropdown-menu" style="background-color: #9691E3;text-align: center;" >
              <li *ngFor="let dropdownitem of item['dropdown']">
                <!-- For Static Internal Links -->
                <a *ngIf="!dropdownitem.hasOwnProperty('newtab') && !dropdownitem.hasOwnProperty('guard')" [routerLink]="link(dropdownitem['linkId'])" (click)="toggleDrop(0)">{{ dropdownitem['title'] }}</a>

                <!-- For Dynamic Internal Links -->
                <a *ngIf="!dropdownitem.hasOwnProperty('newtab') && dropdownitem.hasOwnProperty('guard')" [routerLink]="link(dropdownitem['linkId'+(logstat?2:1)])" (click)="toggleDrop(0)">{{ dropdownitem['title'+(logstat?2:1)] }}</a>

                <!-- For Static External Links -->
                <a *ngIf="dropdownitem.hasOwnProperty('newtab')" [href]="link(dropdownitem['linkId'])" (click)="toggleDrop(0)" target="_blank">{{ dropdownitem['title'] }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </nav>
