<div *ngIf="dropped"
     style="width:100%; height: 100%;  z-index: 100; opacity: 0; position: fixed;"
     onclick="navtoggle()"
     (click)="toggleDrop()">
</div>
<nav class="mainmenu-area navbar navbar-inverse navbar-fixed-top affix">
    <div class="container">
      <div class="navbar-header">
        <button type="button"
                id="nav-toggle"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target="#mainmenu_collapse"
                onclick="navtoggle()"
                (click)="toggleDrop()"
                value="1"
                (change)="toggleDrop()"
        >
          <span [class.ti-angle-down]="!dropped"
                [class.ti-angle-up]="dropped">
          </span>
        </button>
        <!--Logo-->
        <a class="navbar-brand" routerLink="/">
          <!--img src="/images/logo.png" style="height: 40px;" alt=""-->
          <h1 style="color: white;font-family: 'Permanent Marker', cursive;font-size: 40px;">Hall 3</h1>
        </a>
      </div>
      <div class="navbar-collapse collapse" id="mainmenu_collapse">
        <ul class="nav smoth navbar-nav navbar-right" id="mainmenu">
          <li *ngFor="let item of menu; let i=index" class="{{ item['class'] }}">
            <a [class.dropdown-toggle]="hasDropDown(i)" [routerLink]="link(item['linkId'])">
              {{ item['title'] }} <span [class.caret]="hasDropDown(i)"></span>
            </a>
            <ul *ngIf="hasDropDown(i)" class="dropdown-menu" style="background-color: #9691E3;text-align: center;" >
              <li *ngFor="let dropdownitem of item['dropdown']">
                <a *ngIf="!dropdownitem.hasOwnProperty('newtab') && !dropdownitem.hasOwnProperty('guard')" [routerLink]="link(dropdownitem['linkId'])">{{ dropdownitem['title'] }}</a>
                <a *ngIf="!dropdownitem.hasOwnProperty('newtab') && dropdownitem.hasOwnProperty('guard')" [routerLink]="link(dropdownitem['linkId'+(logstat?2:1)])">{{ dropdownitem['title'+(logstat?2:1)] }}</a>
                <a *ngIf="dropdownitem.hasOwnProperty('newtab')" [href]="link(dropdownitem['linkId'])" target="_blank">{{ dropdownitem['title'] }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
