a { text-decoration: none;color: #fddfa3; /* color4 */ }
a:visited { text-decoration: none;color: #fddfa3; /* color4 */ }
a:hover { text-decoration: none;color: #fddfa3; /* color4 */ }
a:focus { text-decoration: none;color: #fddfa3; /* color4 */ }
a:hover, a:active { text-decoration: none;color: #fddfa3; /* color4 */ }
