<div class="blog-details">
  <h1>Guest Room</h1>
  <div class="space-20"></div>
  <p>The Hall Guest House is situated at the back of the hostel and comprises of 4 functional Guest Rooms. The Guest Rooms can be booked by any student of IIT Kanpur, owing to availability. However, priority shall always be given to the hall residents. Parents and siblings are always warm-heartedly welcome in Hall-3.</p>
  <h4>Booking Procedure</h4>
  <p>To book a Guest Room, one has to simply visit the Hall Office during office hours (8:00 a.m. till 5:00 p.m.), present his IITK ID Card and provide the necessary details of the guests to come. Only 2 guests shall be allowed per room and the rent charged shall be Rs. 180 per room per day. The Guest Rooms shall always be given on a first-come-first-serve basis.</p>
  <p>For any other details/queries, feel free to contact the Common Rooms’ Secretary or the President, HEC.</p>
  <h4>Pictures</h4>
  <div class="soft-edge">
    <img src="images/facilities/guest.jpg">
  </div>
</div>
