.counter_icon.active {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.form-control.ng-touched.ng-invalid:not(.invalid-email) {
  border: 1px solid red;
}
.invalid-email {
  border: 1px solid orange;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid transparent;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #c72228; /* color2 */
}

td {
  background-color: #fddfa3; /* color4 */
  color: #5e0f14; /* color1 */
}

.tabs {
  background-color: #5e0f14; /* color1 */
  text-align: center;
  font-weight: 700;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
}
.tabs[active="true"] {
  background-color: #c72228; /* color2 */
}
.tabs[active="false"] {
  cursor: pointer;
}

.resp {
  white-space: pre-wrap;
  word-break: break-word;
}

.paginator {
  color: black;
  padding: 10px;
  background-color: #fddfa3; /* color4 */
  border: 3px solid #c72228; /* color2 */
  border-radius: 2px;
}
.paginator:focus {
  outline: #c72228; /* color2 */
  box-shadow: 0 0 5px 0#c72228; /* color2 */
}


@keyframes loading-dot-1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

@keyframes loading-dot-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}

@keyframes loading-dot-3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

h5 {
  color: #c72228; /* color2 */
  margin: 4px;
}

h5 span {
  padding-left: 2px;
}

h5 span:nth-child(1) {
  animation: loading-dot-1 2.4s linear infinite;
}

h5 span:nth-child(2) {
  animation: loading-dot-2 2.4s linear infinite;
}

h5 span:nth-child(3) {
  animation: loading-dot-3 2.4s linear infinite;
}
