<div class="flexbox-container" [style.justify-content]="justify">
  <div *ngFor="let tile of _tiles; let i = index;" class="col-xs-6 col-sm-3"
        [class.wow]="fadeIn(i)" [class.fadeIn]="fadeIn(i)" [attr.data-wow-delay]="fadeIn(i)+'s'">
    <div class="team-image relative">
      <div *ngIf="tile.hasOwnProperty('photo')" class="relative">
        <img *ngIf="photos.indexOf(tile['photo']) !== -1" [src]="'../../../images/loading.gif'" alt="">
        <img [class.invisible]="photos.indexOf(tile['photo']) !== -1" [src]="'/server/' + tile['photo']" (load)="load(photos.indexOf(tile['photo']))" alt="">
      </div>
      <div class="team-details" #details><strong>{{ tile['name'] }}</strong>
        <div class="space-2"></div>
        <span *ngFor="let data of moreData(tile)">
          {{ data }}
          <br>
        </span>
      </div>
    </div>
    <div class="space-30"></div>
  </div>
</div>
