<div class="space-50"></div>
<!--Counter-area-->
<section class="gray-bg relative text-white">
  <div class="header-bg header-bg-color">
    <div class="header-bg-image header-bg-image4"></div>
  </div>
  <div class="container">
    <div class="row text-center">
      <!--Single-counterup-->
      <div class="col-xs-4">
        <div class="counter_up">
          <div id="ask" [class.active]="showForm('ask')" class="counter_icon" (click)="changeForm('ask')">
            <span class="ti-help-alt"></span>
          </div>
          <div class="space-20"></div>
          <h4 class="whennotxs">ASK THE HEC</h4>
        </div>
      </div>
      <!--Single-counterup/-->
      <!--Single-counterup-->
      <div class="col-xs-4">
        <div class="counter_up">
          <div id="response" [class.active]="showForm('response')" class="counter_icon" (click)="changeForm('response')">
            <span class="ti-info-alt"></span>
          </div>
          <div class="space-20"></div>
          <h4 class="whennotxs">RESPONSES</h4>
        </div>
      </div>
      <!--Single-counterup/-->
      <!--Single-counterup-->
      <div class="col-xs-4">
        <div class="counter_up">
          <div id="lnf" [class.active]="showForm('lnf')" class="counter_icon" (click)="changeForm('lnf')">
            <span class="ti-alert"></span>
          </div>
          <div class="space-20"></div>
          <h4 class="whennotxs">LOST & FOUND</h4>
        </div>
      </div>
      <!--Single-counterup/-->
    </div>
  </div>
  <div class="space-30"></div>
  <p style="color: red">{{ error }}</p>
  <div class="container">
    <!--Contact-form-->
    <form *ngIf="showForm('ask')"
          #askform="ngForm"
          (ngSubmit)="askTheHEC(name.value,hec.value,subject.value,message.value,email.value,askform) ">

      <div class="row">
        <!--blog-page-title-->
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <h3 class="">ASK THE HEC</h3>
        </div>
        <!--blog-page-title/-->
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div *ngIf="name.touched && name.errors && name.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(name.touched && name.errors)"></div>
          <input type="text"
                 class="form-control"
                 name="name"
                 placeholder="Your Name"
                 required
                 ngModel
                 #name="ngModel"
                 [disabled]="anonymous"
                 >
          <div class="space-5"></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div *ngIf="email.touched && email.errors && email.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div *ngIf="email.touched && email.errors && email.errors.pattern" style="font-size: 11px; color: orange">*Invalid email</div>
          <div class="space-20" *ngIf="!(email.touched && email.errors)"></div>
          <input  type="email"
                  class="form-control"
                  [class.invalid-email]="email.touched && email.errors && email.errors.pattern"
                  name="email"
                  placeholder="Email Address"
                  ngModel
                  #email="ngModel"
                  required
                  [disabled]="anonymous"
                  pattern="^(([^<>()[\]\\.,;:\s@\&quot;]+(\.[^<>()[\]\\.,;:\s@\&quot;]+)*)|(\&quot;.+\&quot;))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$">
          <div class="space-5"></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div *ngIf="hec.touched && hec.errors && hec.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(hec.touched && hec.errors)"></div>
          <select class="form-control"
                  name="hec"
                  ngModel
                  #hec="ngModel"
                  required>
            <option value="" disabled selected>Choose the HEC member to ask</option>
            <!--option value="all" >All HEC Members</option-->
            <option value="president">President</option>
            <option value="finance">Finance Secretary</option>
            <option value="maintenance">Maintenance Secretary</option>
            <option value="mess">Mess Secretaries</option>
            <option value="cultural">Cultural Secretary</option>
            <option value="snt">Science and Tech. Secretary</option>
            <option value="sports">Sports Secretary</option>
            <option value="fms">Films and Media Secretary</option>
            <option value="commonrooms">Common Rooms Secretary</option>
            <option value="web">Web InCharge</option>
          </select>
          <div class="space-5"></div>
        </div>
        <div class="col-xs-12">
          <div *ngIf="subject.touched && subject.errors && subject.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(subject.touched && subject.errors)"></div>
          <input
            type="text"
            class="form-control"
            name="subject"
            placeholder="Subject"
            ngModel
            #subject="ngModel"
            required>
          <div class="space-5"></div>
        </div>
        <div class="col-xs-12">
          <div *ngIf="message.touched && message.errors && message.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(message.touched && message.errors)"></div>
          <textarea class="form-control"
                    rows="6"
                    name="message"
                    placeholder="Message here..."
                    ngModel
                    #message="ngModel"
                    required>
          </textarea>
          <div class="space-25"></div>
        </div>
        <div class="col-xs-12" style="display : flex">
          <button type="submit" class="bttn" [disabled]="!askform.valid || sending">{{(sending)?'Sending...':'Send'}}</button>
          <label  class="control control--checkbox"
                  style="margin-left: 25px; margin-top: 10px;">Go Anonymous
            <input type="checkbox" value="" (change)="anonymous=!anonymous">
            <div class="control__indicator"></div>
          </label>
        </div><!--p *ngIf="sent">✔ Sent</p-->
      </div>
    </form>

    <div *ngIf="showForm('response')">
      <div class="row">
        <!--blog-page-title-->
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <h3 class="">RESPONSES</h3>
        </div>
        <!--blog-page-title/-->
      </div>
      <div class="space-20"></div>
      <div class="row" style="padding: 0 10px;">
        <div class="col-xs-6 tabs" [attr.active]="responded" (click)="responded = true;">RESPONDED</div>
        <div class="col-xs-6 tabs" [attr.active]="!responded" (click)="responded = false;">NOT RESPONDED</div>
        <div class="col-xs-12" style="padding: 0; overflow-x: auto">
          <table>
            <thead>
              <tr>
                <th style="width: 10%;">Date</th>
                <th style="width: 10%;">To</th>
                <th style="width: 40%;">Query</th>
                <th *ngIf="responded" style="width: 40%;">Response</th>
              </tr>
            </thead>
            <tbody *ngIf="loading">
              <div class="space-2" ></div>
              <tr>
                <td></td>
                <td></td>
                <td><img src="../../../images/loading2.gif" style="width: 40px;"></td>
                <td *ngIf="responded"><img src="../../../images/loading2.gif" style="width: 40px;"></td>
              </tr>
            </tbody>
            <tbody *ngFor="let response of (responded?(responses.responded):(responses.notresponded))">
              <div class="space-2"></div>
              <tr>
                <td>{{ response.date }}</td>
                <td>{{ response.to }}</td>
                <td class="resp" [innerHTML]="preProcess(response.message)"></td>
                <td *ngIf="responded" class="resp" [innerHTML]="preProcess(response.response)"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <form *ngIf="showForm('lnf')"
          #lnfform="ngForm"
          (ngSubmit)="lnfsend(what.value,when.value,where.value,des.value,link.value,contact.value,LorF.value,lnfform)" >
      <div class="row">
        <!--blog-page-title-->
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
          <h3 class="">LOST & FOUND</h3>
        </div>
        <!--blog-page-title/-->
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div *ngIf="what.touched && what.errors && what.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(what.touched && what.errors)"></div>
          <input type="text"
                 class="form-control"
                 name="what"
                 placeholder="What?"
                 required
                 ngModel
                 #what="ngModel"
                 >
        </div>
        <div class="col-xs-12 col-sm-6">
          <div *ngIf="when.touched && when.errors && when.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(when.touched && when.errors)"></div>
          <input type="text"
                 class="form-control"
                 name="when"
                 placeholder="When?"
                 required
                 ngModel
                 #when="ngModel"
                 >
        </div>
        <div class="col-xs-12 col-sm-6">
          <div *ngIf="where.touched && where.errors && where.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(where.touched && where.errors)"></div>
          <input type="text"
                 class="form-control"
                 name="where"
                 placeholder="Where?"
                 required
                 ngModel
                 #where="ngModel"
                 >
        </div>
        <div class="col-xs-12 col-sm-6">
          <div *ngIf="LorF.touched && LorF.errors && LorF.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(LorF.touched && LorF.errors)"></div>
          <select class="form-control"
                  name="LorF"
                  ngModel
                  #LorF="ngModel"
                  required>
            <option value="" disabled selected>Lost or Found?</option>
            <option value="lost">Lost</option>
            <option value="found">Found</option>
          </select>
        </div>
        <div class="col-xs-12">
          <div class="space-20"></div>
          <textarea class="form-control"
                    rows="3"
                    name="des"
                    placeholder="Description (optional)"
                    ngModel
                    #des="ngModel"
                    >
          </textarea>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div *ngIf="link.touched && link.errors && link.errors.pattern" style="font-size: 11px; color: orange">*Invalid link</div>
          <div class="space-20" *ngIf="!(link.touched && link.errors)"></div>
          <input type="text"
                 class="form-control"
                 [class.invalid-email]="link.touched && link.errors && link.errors.pattern"
                 name="link"
                 placeholder="Link to photographs (optional)"
                 ngModel
                 pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" 
                 #link="ngModel"
                 >
        </div>
        <div class="col-xs-12 col-sm-6">
          <div *ngIf="contact.touched && contact.errors && contact.errors.required" style="font-size: 11px; color: red">*Required</div>
          <div class="space-20" *ngIf="!(contact.touched && contact.errors)"></div>
          <input type="text"
                 class="form-control"
                 name="contact"
                 placeholder="Contact"
                 required
                 ngModel
                 #contact="ngModel"
                 >
          <div class="space-20"></div>
        </div>
        <div class="col-xs-12">
          <button type="submit" class="bttn" [disabled]="!lnfform.valid || sending">{{(sending)?'Sending...':'Send'}}</button>
        </div>
      </div>
    </form>
    <!--Contact-form/-->
  </div>
  <div class="space-100"></div>

</section>
