<section class="fix">
  <div class="space-100"></div>
  <div class="container">
    <div class="row">
      <div *ngIf="!loggedout" class="col-xs-12 col-sm-6 col-sm-offset-3 padding30">
        <div class="space-60"></div>
        <h2 style="text-align: center">Change Password</h2>
        <div class="space-15"></div>
        <p style="color: red">{{ (submitted)? '' : error }}</p>
        <form (ngSubmit)="onSubmit(currpwd.value, newpwd.value)" #chngpwdform="ngForm">
        	<input
                  type="password"
                  class="form-control"
                  name="currpwd"
                  placeholder="Current Password"
                  autofocus
                  required
                  ngModel
                  #currpwd="ngModel">
          <div class="space-15"></div>
          <input
                  type="password"
                  class="form-control"
                  name="newpwd"
                  placeholder="New Password"
                  required
                  ngModel
                  #newpwd="ngModel">
          <div class="space-15"></div>
          <div *ngIf="newpwd2.touched && newpwd.value !== newpwd2.value" style="font-size: 11px; color: red">*Passwords do not match</div>
          <input
                  type="password"
                  class="form-control"
                  name="newpwd2"
                  placeholder="Retype New Password"
                  required
                  ngModel
                  #newpwd2="ngModel">
          <div class="space-20"></div>
          <div style="display: flex; justify-content: space-between;">
          	<button class="bttn" type="submit"
          	[title]="chngpwdform.valid?'':'Please fill the form first'"
          	[disabled]="!chngpwdform.valid || submitted || newpwd.value !== newpwd2.value">{{ (submitted)?'Changing Password...':'Change Password' }}</button>
          	<button class="bttn" routerLink="/user/dashboard">Cancel</button>
          </div>
        </form>
      </div>
      <div *ngIf="loggedout" class="col-xs-12 col-sm-6 col-sm-offset-3 padding30" style="text-align: center">
      	<div class="space-60"></div>
        <h2>✔ Password Changed</h2>
        <div class="space-20"></div>
        <p>You have been logged out.</p>
        <div class="space-20"></div>
        <button class="bttn" routerLink="/login">Login</button>
        <div class="space-15"></div>
      </div>
    </div>
  </div>
  <div class="space-100"></div>
</section>