<div class="blog-details">
  <h1>Guest Room</h1>
  <div class="space-20"></div>
  <p>We offer five functional guest rooms at Hall-3, IIT Kanpur, with four double-bed rooms and one triple-bed room available for booking. The rates for these rooms are Rs. 500 per day for a double-bed room and Rs. 750 per day for a triple-bed room. Any student of IIT Kanpur can book these guest rooms, subject to availability. However, priority will be given to hall residents. Parents and siblings are always warmly welcomed in Hall-3.</p>
  <h4>Booking Procedure</h4>
  <p>To book a guest room, individuals simply need to visit the Hall Office during office hours (8:00 a.m. to 5:00 p.m.), present their IITK ID Card, and provide the necessary details of the guests. Each room can accommodate a maximum of two guests for double-bed rooms and three guests for the triple-bed room. Bookings are made on a first-come-first-serve basis.
  </p>
  <p>For any other details/queries, feel free to contact the Common Rooms’ Secretary or the President, HEC.</p>
  <h4>Pictures</h4>
  <app-carousel [images]="images"></app-carousel>
</div>
