<div class="blog-details">
  <h1>Hall Office</h1>
  <div class="space-20"></div>
  <p>The Hall Office of Hall 3 at IIT Kanpur is the central hub for residents, offering many services and support to foster a vibrant and inclusive community atmosphere. At the Hall Office, residents can find assistance with various administrative tasks, such as room allocations, maintenance requests, and general inquiries. The dedicated staff members are committed to providing prompt and personalized support to ensure that the living experience in Hall 3 is comfortable and enriching for all.
  </p>
  <div class="space-10"></div>
  <div class="space-10"></div>

  <div class="overall">
    <div class="responsive">
        <div class="image_div">
          <img src="images/hall-office/manager.jpg" alt="Ashish Kumar">
        </div>
        <div class="name">Ashish Kumar</div>
        <div class="pos">Manager</div>
        <div class="pos">Email: ashishks@iitk.ac.in</div>
        <div class="pos">Ph no: 0512-259-4592</div>
    </div>


    <div class="responsive">
        <div class="image_div">
          <img src="images/hall-office/office-in-charge.jpg" alt="Sanee Sachan">
        </div>
        <div class="name">Sanee Sachan</div>
        <div class="pos">Office-in-Charge</div>
        <div class="pos">Email: saneesachn@iitk.ac.in</div>
        <div class="pos">Ph no: 0512-259-4594</div>
    </div>


    <div class="responsive">
        <div class="image_div">
          <img src="images/hall-office/office-assistant.jpg" alt="Rajendra Kumar Yadav">
        </div>
        <div class="name">Rajendra Kumar Yadav</div>
        <div class="pos">Office Assistant</div>
        <div class="pos">Email: 1977rajendrakr@gmail.com</div>
        <div class="pos">&nbsp;</div>
    </div>

  </div>