<div class="blog-details">
  <h1>Counselling Service Core Team</h1>
  <div class="space-20"></div>
  <p></p>
  <div class="space-10"></div>
  <h4>Coordinators</h4>
  <div class="space-10"></div>
  <app-loader [show]="!loaded"></app-loader>
  <app-tiles [class.invisible]="!loaded" [tiles]="coordis"></app-tiles>
  <div class="space-10"></div>
  <h4>Team Operations</h4>
  <div class="space-10"></div>
  <app-loader [show]="!loaded"></app-loader>
  <app-tiles [class.invisible]="!loaded" [tiles]="ops"></app-tiles>
  <div class="space-10"></div>
  <h4>Team Academics</h4>
  <div class="space-10"></div>
  <app-loader [show]="!loaded"></app-loader>
  <app-tiles [class.invisible]="!loaded" [tiles]="acads"></app-tiles>
</div>

