<div class="blog-details">
  <app-infohead (edit)="edit()"
                (save)="save()"
                (discard)="discard()">Wardens</app-infohead>
  <div class="space-20"></div>

  <app-loader [show]="!loaded"></app-loader>

  <div id="wardens" [class.invisible]="!loaded">
    <div class="flexbox-container">
      <div *ngFor="let member of members; let i=index;"
           class="col-xs-6 col-sm-3">

        <div class="team-image relative">
          <div class="relative">
            <img [src]="'/server/' + member['photo']"
                 [alt]="member['name'] + '\'s photo'"
                 (load)="load()">
          </div>

          <div *ngIf="!editable" class="team-details">
            <strong>{{ member['name'] }}</strong>
            <div class="space-2"></div>
            <p>
              {{ member['post'] }}<br>
              {{ member['contact'] }}<br>
              {{ member['email'] }}
            </p>
          </div>

          <div [style.display]="editable?'inherit':'none'" class="team-details">
            <strong>
              <input AutoSizeInput
                     [extraWidth]="10"
                     type="text"
                     [disabled]="saving"
                     [(ngModel)]="member['name']"
                     (ngModelChange)="edited[i] = true;">
            </strong>
            <div class="space-2"></div>
            <p>
              {{ member['post'] }}<br>
              <input AutoSizeInput
                     type="text"
                     [disabled]="saving"
                     [(ngModel)]="member['contact']"
                     (ngModelChange)="edited[i] = true;">
              <br>
              <input AutoSizeInput
                     type="text"
                     [disabled]="saving"
                     [(ngModel)]="member['email']"
                     (ngModelChange)="edited[i] = true;">
            </p>
          </div>
        </div>

        <div class="space-30"></div>
      </div>
    </div>
  </div>

  <div class="space-30"></div>
</div>
