<div class="blog-details">
  <h4 *ngIf="!embed">Wardens</h4>
  <div *ngIf="!embed" class="space-20"></div>
  <app-loader [show]="!loaded"></app-loader>
  <div id="wardens" [class.invisible]="!loaded">
    <!--Single-team-->
    <div *ngFor="let member of members; let i=index;"
         class="col-xs-6 col-sm-3 col-centered"
         [class.col-sm-push-3]="i === 0"
         [class.col-sm-pull-4]="i === 1"
         [class.col-sm-offset-1]="i !== 1"
         [class.col-xs-offset-3]="i === 0">
      <div class="team-image relative">
        <div class="relative">
          <img [src]="'/server/' + member['photo']" (load)="load()" [alt]="member['name'] + '\'s photo'">
        </div>
        <div class="team-details"><strong>{{ member['name'] }}</strong>
          <div class="space-2"></div>
          <p>{{ member['post'] }}<br>{{ member['contact'] }}<br>{{ member['email'] }}</p>
        </div>
      </div>
      <div class="space-30"></div>
    </div>
    <!--Single-team/-->
  </div>
  <div class="space-30"></div>
</div>
