<!--Blog-Section-->
<section>
  <div class="container">
    <div class="row img-full-width">
      <!--Sidebar-->
      <div class="col-sm-12 col-md-3">
        <aside class="sidebar">
          <div class="space-100"></div>
          <div class="single-sidebar category">
            <div class="tab-head" (click)="toggle = mobile?!toggle:toggle">
              <div *ngIf="mobile" class="wrapper-menu"  [class.open]="toggle">
                <div class="line-menu half start"></div>
                <div class="line-menu"></div>
                <div class="line-menu half end"></div>
              </div>
              <h3>{{ toTitleCase(title) }}</h3>
            </div>
            <hr>
            <ul class="list-unstyled toggler" [style.height]="mobile?(toggle?((45*list.length+25)+'px'):'0'):'auto'">
              <li *ngFor="let item of list" class="tab" [class.activeTab]="router.isActive(item.link())">
                <a [routerLink]="item.link()" (click)="toggle = mobile?!toggle:toggle">{{ item['name'] }}</a>
              </li>
            </ul>
          </div>
        </aside>
      </div>
      <!--Sidebar/-->
      <!--Info-->
      <div class="col-sm-12 col-md-9 pull-right">
        <div *ngIf="!mobile" class="space-100"></div>
        <router-outlet></router-outlet>
      </div>
      <!--Info/-->
    </div>
  </div>
  <div class="space-80"></div>
</section>
